* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

hmtl,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #1a1a1a;
}

h1 {
    text-align: center;
    color: #fafafa;
    font-size: 5vw;
}
